@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
.nosotros {
    // width: 90%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin: auto;
    h1{
        font-size: 2.5rem;
        font-weight: 600;
        padding: 1rem;
        @include m.mobile {
            font-size: 3rem;
        }
        @include m.miniTablet {
            font-size: 3.2rem;
        }
        @include m.tablet {
            font-size: 3.6rem;
        }
        @include m.desktop {
            font-size: 4.5rem;
        }
        @include m.desktopXL {
            font-size: 5.5rem;
        }
    }
    h2 {
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        @include m.mobile {
            font-size: 3.3rem;
        }
        @include m.miniTablet {
            font-size: 3.5rem;
        }
        @include m.tablet {
            font-size: 3.9rem;
        }
        @include m.desktop {
            font-size: 4.9rem;
        }
        @include m.desktopXL {
            font-size: 5.5rem;
        }
    }

    .parrafos{
        width: 90%;
        margin: auto;
        // grid-template-columns: 1fr;
        @include m.desktopXL {
            gap: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        // p {
        //     background-color: rgba(v.$secondary, 30%);
        //     border-radius: 2rem;
        //     margin: 2rem;
        //     padding: 2rem  ;
        //     font-size: 2.8rem;
        //     // margin: 0 auto;
        //     @include m.mobile{
        //        font-size: 2.9rem;
        //     }
        //     @include m.tablet{
        //         font-size: 2.6rem;
        //         padding: 3.5rem;
        //     }
        //     @include m.desktop{
        //         font-size: 2.2rem;
        //         text-align: center;
        //     }
        //     @include m.desktopXL{
        //         font-size: 4.6rem;
        //     }
        // }
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }
}

// para lograr centrar una imagen y hacerla responsiva es necesario
// meterla dentro de un contenedor hero que dentro incluiremos la imagen y con ayuda
// del selector img le damos las propiedades objectfit y position
.image{
    // margin: 2rem;
    margin-bottom: 2rem;
    height: 30rem;
    width: 100%;
    @include m.mobile{
        height: 35rem;
    }
    @include m.tablet{
        height: 45rem;
    }
    @include m.desktop{
        height: 65rem;
    }
    @include m.desktopXL{
        height: 95rem;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover; // La imagen se adapta como un fondo profesional
        object-position: center; // Controla qué parte de la imagen se ve (top, bottom, etc.)
    }
}


.cards{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;


    @include m.desktop{
        grid-template-columns: repeat(3, 1fr);
    }
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // @include m.desktop{
    //     @include m.grid(3, 1rem);
    //     flex-direction: row;
    // }
    
}

