@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
h1{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
}
h2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}


p {
    background-color: rgba(v.$secondary, 30%);
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem  ;
    text-align: justify;
}