@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.cardMvv {
    width: 100%;
    margin: .5rem 0;
    
    height: auto;
    background-color:  rgba(v.$yellowGreen, 70%);
    border-top-left-radius: 10rem;
    padding: .5rem;

    @include m.desktop{
        // height: auto;
        flex-direction: row;
        margin-bottom: 2rem;
        padding: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        // @include m.desktop{
        //     align-items: center;
        //     // margin-right: 1rem;
        // }
        h3{
            font-size: 4rem;
            letter-spacing: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            color: v.$primary;
            margin: 1rem;
            @include m.mobile{
               font-size: 4.7rem;
            }
            @include m.tablet{
                font-size: 4.5rem;
                margin: 0;
            }
            @include m.desktop{
                font-size: 3.8rem;
                margin-top: 2rem;
                text-align: end;
                // margin-right: 1rem;
                // margin-bottom: 0;
            }
            @include m.desktopXL{
                font-size: 6rem;
            }
        }
        h5{
            // display: flex;
            // flex-direction: column;
            // align-items: center ;

            margin: 0;
            font-weight: 600;
            text-align: justify;
            padding: 2.5rem;
            font-size: 2.2rem;
            color: v.$primary;
            @include m.mobile{
               font-size: 3rem;
            }
            @include m.tablet{
                font-size: 3.2rem;
                padding: 3.5rem;
            }
            @include m.desktop{
                font-size: 2.3rem;
                text-align: center;
                padding: 2.5rem;
            }
            @include m.desktopXL{
                font-size: 3.5rem;
            }
        }

        
    }
    .cards {
        margin-bottom: 2rem;
    }

}