@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.cardMvv {
    width: 100%;
    margin: 2rem auto;
    height: auto;
    background-color:  rgba(v.$yellowGreen, 70%);
    border-top-left-radius: 10rem;
    padding: .5rem;

    @include m.desktop{
        // height: auto;
        flex-direction: row;
        padding: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.desktop{
            align-items: end;
            // margin-right: 1rem;
        }
        h3{
            font-size: 4rem;
            letter-spacing: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            margin: 2rem 0 0 0;
            color: v.$primary;
            @include m.mobile{
               font-size: 4.7rem;
            }
            @include m.tablet{
                font-size: 5rem;
            }
            @include m.desktop{
                font-size: 4rem;
                text-align: right;
                margin-right: 1rem;
                margin-bottom: 0;
            }
            @include m.desktopXL{
                font-size: 8rem;
            }
        }
        h5{
            // display: flex;
            // flex-direction: column;
            // align-items: center ;

            margin: 0;
            font-weight: 600;
            text-align: justify;
            padding: 2.5rem;
            font-size: 2rem;
            color: v.$primary;
            @include m.mobile{
               font-size: 2.9rem;
            }
            @include m.tablet{
                font-size: 2.6rem;
                padding: 3.5rem;
            }
            @include m.desktop{
                font-size: 2.2rem;
                text-align: center;
                padding: 1.5rem;
            }
            @include m.desktopXL{
                font-size: 4.6rem;
            }
        }

        
    }

}