.header {
    background-color: #c4e2acff;
    width: 100%;
    height: 8rem;
}

.container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

.logo {
    height: 7.5rem;
    width: auto;
    display: flex;
    flex-direction: row;
}

h1 {
    color: #48ACCDff;
    margin-top: 2.5rem;
    font-size: 5rem;
}

.nav-main{
    width: 35rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 2.8rem;
}
a {
    font-size: 1.5rem;
    text-decoration: none;
    
}






/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #3C89B8ff;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;

}

.logo {
    margin-left: 1rem;
    width: auto;
    height:5rem;
}

.nav {
    margin-right: 1rem;
    width: 30rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.5em;
    color: #c4e2acff;
}
.container {
    display: flex;
    width: 120rem;
} */