@use 'variables' as v;

// RESPONSIVE MIXINS
@mixin mobile {
    @media (max-width: v.$mobile) {
        @content;     
    }
}

@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;        
    }
}

@mixin container {
    width: 90%;
    max-width: 180rem;
    margin: 0 auto;
}

@mixin grid ($colums, $space) {
    display: grid;
    grid-template-columns: repeat($colums, 1fr);
    gap: $space;
}