@use 'variables' as v;

// RESPONSIVE MIXINS
@mixin miniMobile {
    @media (min-width: v.$miniMobile) {
        @content;
    }
}
@mixin mobile {
    @media (min-width: v.$mobile) {
        @content;     
    }
}
@mixin miniTablet {
    @media (min-width: v.$miniTablet){
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;        
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL{
    @media (min-width: v.$desktopXL) {
        @content;
    }
}
@mixin desktopXXL{
    @media (min-width: v.$desktopXXL) {
        @content;
    }
}

@mixin container {
    width: 85%;
    max-width: 180rem;
    margin: 0 auto;
}

@mixin borderText ($grosor: 2px) {
    // Propiedades para compatibilidad del contorno
    -webkit-text-stroke: $grosor v.$primary;
    text-stroke: $grosor v.$primary;
    
    // Elimina fondos no deseados
    background: none;
    
    // Opcional: elimina sombras que puedan interferir
    text-shadow: none;
    
    // Asegura que herede correctamente
    border: none;
    outline: none;
}

@mixin grid ($colums, $space) {
    display: grid;
    grid-template-columns: repeat($colums, 1fr);
    gap: $space;
}