// Colores Meka Inc
$primary: #336A4Cff;
$greenTea: #c4e2acff;
$yellowGreen: #98CC4Bff;
$lightGreen: #a0ffcb6e;
$blue: #3C89B8ff;
$cyan: #48ACCDff;
$dark : #1c2b1500;

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// tipograsfia
// fuente
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');
$font : "Kedebideri", sans-serif;


