@import './variables.css';

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.logo {
    height: 6.5rem;
    width: auto;
    display: flex;
    flex-direction: row;
}

h1 {
    color: #48ACCDff;
    margin: .5rem;
    font-size: 4rem;
}

.nav-main{
    display: flex;
    width: 30rem;
    height: 5rem;
    justify-content: inherit; 
    text-align: center;
}


.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #48ACCDff;
}

/* movil */
@media (max-width: 70.67rem) {
    .nav-main{
        position: absolute;
        top: 7rem;
        right: 0;
        background-color: #c4e2acff;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        display: none;
    }
    .nav-main.open {
        display: flex;
    }
    .menu-toggle{
        display: block;
    }
    .logo {
        max-width: fit-content;
    }
    .footer{
        height: 5rem;
    }
}


/* Tablet: 768px – 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-main {
    display: flex;
    gap: 1.5rem;
  }

  .menu-toggle {
    display: none;
  }
}

/* Escritorio: ≥1024px */
@media (min-width: 1024px) {
  .nav-main {
    display: flex;
    gap: 2.5rem;
  }

  .menu-toggle {
    display: none;
  }
}

/* footer */

.footer {
    background-color: var(--greenTea);
    width: auto;
    height: auto;
}
.footer-content{
    display: block;
}

.footer h2 {
    margin-top: 1rem;
    color: var(--primary);
    font-weight: bold;
}
.nav-footer{
    text-align: center;
}
.nav-footer a {
    color: var(--primary);
    font-weight: lighter;

}