/* first, we align and create a responsive header, when we have a mobile size,
we show a hamburger menu with 3 options, and when we have a desktop size, show 3 options
 */
@import './variables.css';

.header {
    background-color: var(--greenTea);
   width: 100%;
   height: 7rem;

}

.header-content {
    
}

a {
    font-size: 1.3rem;
    color: var(--primary);
    text-decoration: none;
    align-content: center;
}