@use 'variables' as v;



html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding: 0rem;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$dark;
    font-size: 2rem; 
    background-color: v.$lightGreen;
}

// p {
//     color: v.$dark;
//     line-height: 1.5;
// }
:global{
    .container {
        width: 90%;
        max-width: 180rem;
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
}

// img {
//     max-width: 100%;
//     width: 100%;
//     height: auto;
//     display: block;
// }
body > section {
    padding: 10rem 0
}