@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.card {
    width: 100%;
    margin: 3rem auto;
    // padding: 2rem;
    background-color: rgba(v.$secondary, 60%);
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 2.5rem;

    @include m.tablet{
        width: 68rem;
        display: flex;
    }
    @include m.desktop{
        width: 41rem;
        display: block;
    }
    img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-size: cover;
        width: 100%;
        height: 35rem;
        
        // @include m.mobile{
        //     width: 100%;
        //     height: 100% ;
        //     max-height: 40rem;
        // }
        // @include m.tablet{
        //     width: 100%;
        // }
        // @include m.desktop{
        //     width: 41rem;
        //     height:41rem;
        // }
    }
    
    h3 {
        
        color : v.$primary;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        font-weight: 800;
        text-align: center;
    }
    
    p{
        padding: 2rem;
        margin: 1rem;
    }
}

