@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.card {
    width: 100%;
    margin: 3rem auto;
    // padding: 2rem;
    background-color: rgba(v.$secondary, 60%);
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 2.5rem;

    @include m.tablet{
        width: 68rem;
        display: flex;
    }
    @include m.desktop{
        width: 41rem;
        display: block;
    }
    img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-size: cover;
        width: 100%;
        height: 40rem;
        
        @include m.mobile{
            // width: 100%;
            height: 52rem ;
        }
        @include m.tablet{
            height: 35rem;
        }
        // @include m.desktop{
        //     width: 41rem;
        //     height:41rem;
        // }
    }
    
    h3 {
        color : v.$primary;
        font-weight: 800;
        margin: 1rem;
        
        text-align: center;
        font-size: 3rem;
    }
    
    p{
        padding: 2.5rem;
        padding-top: 0;
        margin-top: 0;
        margin: 0;
        font-size: 2.5rem;
        @include m.mobile{
        font-size: 3rem;
        }
        @include m.miniTablet{
            font-size: 3.4rem;
        }
        @include m.tablet{
            font-size: 3rem;
        }
        @include m.desktop{
            font-size: 3.5rem;
        }
        @include m.desktopXL{
            font-size: 3.6rem;
        }
        @include m.desktopXXL{
            font-size: 3.7rem;
        }
    }
}

