@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.main {
    height:40rem;
    position: relative;
    background-image: url('../../assets/webp/maq3.webp');
    
    background-position: center;
    background-size: cover ;
    width: 100%;
    background-repeat: no-repeat;
    position: 40%;

    @include m.tablet{
        height: 55rem;
    }
    @include m.desktop{
        // background-position: left;

        height: 65rem;
    }
    @include m.desktopXL{
        height: 150rem;
    }
    
}
.overlay{
    position: absolute;
    background-color: rgba(v.$greenTea, 25%);
    height: 100%;
    // background-color: red;
    inset: 0;
    display: flex;
    align-items: flex-start;
}

.mainContent{
    margin-top: 0;
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: rgba( v.$cyan, 60%);
    width: 100%;
    text-align: center;

    h1 {
        text-align: center;
        letter-spacing: -.15rem;
        font-size: 3.2rem;

        color: v.$light;
        margin: 0;
        // font-family: v.$fontSecondary;
        @include m.mobile{
            font-size: 5rem;
        }
        @include m.tablet{
            font-size: 5.6rem;
        }
        @include m.desktop{
            font-size: 7.4rem;
        }
        @include m.desktopXL{
            letter-spacing: -.5rem;
            font-size: 11rem;
        }
        

        // background-color:rgba( v.$secondary, 40%);
        // @include m.borderText(.1rem);
    }
    h3{
        letter-spacing: -.1rem;
        font-size: 1.6rem;

        @include m.mobile{
            font-size: 2rem;
        }
        @include m.tablet{
            font-size: 2.5rem;
        }
        @include m.desktop{
            font-size: 3.6rem;
        }
        @include m.desktopXL{
            font-size: 4.4rem;
        }
        margin: 0;
        padding: 0;
        border: none;
        color: v.$light;
    }

    span {
        font-size: 1.4rem;
        @include m.tablet{
            font-size: 2rem;
        }
        @include m.desktop{
            font-size: 2.6rem;
        }
        @include m.desktopXL{
            font-size: 3.4rem;
        }
        
        // width: 20rem;
        color: v.$light;
        letter-spacing: .3rem;
        font-weight: 600;
        align-items: center;
    }

}