@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.main {
    height:40rem;
    position: relative;
    background-image: url('../../assets/webp/maq3.webp');
    
    background-position: center;
    background-size: cover ;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 40%;

    @include m.tablet{
        height: 55rem;
    }
    @include m.desktop{
        background-position: left;

        height: 65rem;
    }
    @include m.desktopXL{
        height: 90rem;
    }
    
}
.overlay{
    position: absolute;
    background-color: rgba(v.$greenTea, 25%);
    height: 100%;
    // background-color: red;
    inset: 0;
    // z-index: 2;
    display: flex;
    align-items: center;
    // align-content: flex-start;

    // @include m.mobile{

    // }
}

.mainContent{
    display: flex; 
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    margin-left: 4rem;
    margin-top: 6rem;
    background-color: rgba( v.$cyan, 95%);
    width: 19rem;
    // @include m.mobile{
    //     height: 10rem;
    // }
    text-align: left;
    @include m.tablet{
        margin-top: 10rem;
        margin-left: 6rem;
        width: 34rem;
    }
    
    @include m.desktop {
        width: 50rem;
        margin-left: 5rem;
    }
    @include m.desktopXL{
        width: 62rem;
        margin-left: 10rem;
        
    }
    

    h1 {
        text-align: left;
        color: v.$light;
        margin: 0;
        letter-spacing: .1rem;
        font-family: v.$fontSecondary;
        @include m.mobile{
    
            font-size: 2.7rem;
        }
        @include m.tablet{
            font-size: 5rem;
        }
        @include m.desktop{
            font-size: 8rem;
        }
        @include m.desktopXL{
            font-size: 10rem;
        }
        

        // background-color:rgba( v.$secondary, 40%);
        // @include m.borderText(.1rem);
    }
    h3{
        @include m.mobile{
            font-size: 1.4rem;
        }
        @include m.tablet{
            font-size: 2.5rem;
        }
        @include m.desktop{
            font-size: 3.6rem;
        }
        @include m.desktopXL{
            font-size: 4.4rem;
        }
        margin: 0;
        padding: 0;
        border: none;
        color: v.$light;
    }

    span {
        font-size: 1.4rem;
        @include m.tablet{
            font-size: 2rem;
        }
        @include m.desktop{
            font-size: 2.6rem;
        }
        @include m.desktopXL{
            font-size: 3.4rem;
        }
        
        // width: 20rem;
        color: v.$light;
        letter-spacing: .3rem;
        font-weight: 600;
        align-items: center;
    }

}