@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.txt{
    width: 100%;
    margin: 2rem auto;
    // margin-bottom: 0;
    height: auto;
    background-color: rgba(v.$secondary, 60%);
    // border-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem ;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        margin: .5rem;
        text-transform: uppercase;
        // padding: 1rem;
        font-size: 2.5rem;
        color: v.$primary;
    }
}