@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.main{
    display: block;
}
h4 {
    font-size: 1rem;
    color: v.$blue;
    text-align: center
}
@include m.tablet{
    h4 {
        font-size: 2rem;
    }
}
.nosotros {
    @include m.container;
    display: block;
    align-items: center;
    justify-content: space-between;
    height: auto;

    @include m.desktop{
        height: 80rem;
    }
}

.carouselDesc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: red;
}
.description{
    margin-left: 0;
    height: auto;
    width: 15rem;
    padding: 1rem;
    text-align: center;
    span{
        color: v.$blue;
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }

    p{
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        color: v.$primary;
        font-weight: 600;
        text-align: left;
        font-size: 1.2rem;
        @include m.tablet{
            font-size: 2rem;
        }
    }
}
.show {
    margin-top: 2rem;

    @include m.mobile {
        display: none;
    }
    @include m.tablet{

        display: none;
    }
    color: v.$primary;
}

.extend {
    p{
        font-size: 1.5rem;
        color : v.$primary;
        text-align: left;
        margin-top: .1rem;
    }
    @include m.mobile{
        margin-top: .6rem;
        display: block;
    }

    @include m.tablet{
        display: block;
    }
}