@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.main{
    display: block;
}
h4 {
    font-size: 1rem;
    color: v.$blue;
    text-align: center
}
@include m.tablet{
    h4 {
        font-size: 2rem;
    }
}
.nosotros {
    @include m.container;
    display: block;
    align-items: center;
    justify-content: space-between;
    height: auto;
    
    @include m.desktop{
        height: 80rem;
    }

    
    p{
        margin-top: 0;
        color: v.$primary;
        font-weight: 600;
        text-align: justify;
        font-size: 1.2rem;
        @include m.tablet{
            font-size: 2rem;
        }
    }
}

.carouselDesc{
    display: flex;
    justify-content: space-between;
}
.description{
    margin-left: 0;
    width: 50%;
    height: 20rem;
}
.show {
    p{

        margin-top: 2rem;
    }
    @include m.mobile {
        display: none;
    }
    @include m.tablet{
        
        display: none;
    }
    color: v.$primary;
}

.extend {
    @include m.mobile{
        margin-top: 2rem;
        display: block;
    }

    @include m.tablet{
        display: block;
    }
}