@use '../styles/mixins' as m;
@use '../styles/variables' as v;

.products {
    @include m.container;
    h1 {
        text-align: center;
        padding: 1rem;
        font-size: 2.4rem;
        color: v.$primary;
    }
    
    p {
        margin: 0;
        color: v.$primary;
    }
    
    blockquote {
        color: v.$primary;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
}