@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

// in th header, we add a logo, brand name, and 3 links to other pages
.header{
    background-color: v.$secondary;
    width: 100%;
    position: relative;    
}

// header content a logoMarca and span
.headerContent {
    @include m.container;
    display: flex;

    // padding: 1.5rem;
    // @include m.container;
    // @include m.mobile{
    //     display: flex;
    //     flex-direction: column;
    // }
    // @include m.miniTablet{
    //     flex-direction: column;
    // }
    // @include m.tablet{
    //     display: block;
    // }
    // @include m.desktop{
    //     display: block;
    // }
    // @include m.desktopXL{
    //     display: flex;
    // }
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 9.5rem;
    width: auto;

    @include m.mobile{
        height: 6rem;
    }
}
.logoMarca {
    display: flex;
    align-items: center;
    
    span {
        color: v.$primary;
        font-size: 6rem;
        font-weight: 800;
        letter-spacing: -.6rem;
        
        @include m.mobile {
            font-size: 4rem;
            letter-spacing: -.4rem;
        }
    }
}
// navMain its a container who contain all links to pages
.navMain{
    display: none;
    align-items: center;
    gap: 4rem;

    a {
        color: v.$primary;
        font-size: 3rem;
        font-weight: 600;
        text-decoration: none;
        align-content: center;
        
        &:hover{
            font-weight: 100;
            font-size: 2.6rem;
        }
    }

    @include m.tablet{
        display: flex;
        gap: 2rem;
        flex-direction: row;
        a {
            font-size: 2.1rem;

            &:hover{
                font-size: 2.5rem;
            }
        }
    }
    @include m.desktop { 
        display: flex;
        gap: 2rem;
        flex-direction: row;
        a {
            font-size: 3.1rem;

            &:hover{
                font-size: 3.5rem;
            }
        }
    }
    @include m.desktopXL { 
        display: flex;
        gap: 2rem;
        flex-direction: row;
        a {
            font-size: 3.1rem;

            &:hover{
                font-size: 3.5rem;
            }
        }
    }
    @include m.desktopXXL { 
        display: flex;
        gap: 2rem;
        flex-direction: row;
        a {
            font-size: 3.1rem;

            &:hover{
                font-size: 3.5rem;
            }
        }
    }
}


.burger {
    background: none;
    border: none;
    color: v.$primary;
    cursor: pointer;
    font-size: 3rem;
    padding: 0.5rem;
    @include m.mobile {
        display: block;
    }
    @include m.miniTablet{
        display: block;
    }
    @include m.tablet{
        display: none;
    }
    @include m.desktop{
        display: none;
    }
    @include m.desktopXL{
        display: none;
    }

    
}
.logoBurger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menuMobile{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
    a {
        color: v.$primary;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        align-content: center;
        
        &:hover{
            font-weight: 100;
            font-size: 2.3rem;
        }
    }
    @include m.miniTablet{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
    a {
        color: v.$primary;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        align-content: center;
        
        &:hover{
            font-weight: 100;
            font-size: 2.3rem;
        }
    }
    }

    @include m.tablet{
        display: none;
    }
    @include m.desktop{
        display: none;
    }
    @include m.desktopXL{
        display: none;
    }
}

.menuMobile.active {
    @include m.mobile{
        display: flex;
        text-align: center;
        max-height: 300px;
        opacity: 1;
        transform:translateY(100);
        padding: 1rem 0;
    }
    
}

.menuMobile.hidden {
    display: none;

}
