@use '../styles/mixins' as m;
@use '../styles/variables' as v;

.carouselPics{
    height: 20rem;
    width: 15rem;
    align-items: left;
    @include m.tablet {
        height: 35rem;
        width: 26.5rem;
    }
    @include m.desktop{
        height: 69rem;
        width: 52rem;
    }
}

// .carouselPic {
//     height: auto;
//     width: 10rem;
//     img {
//         // background-image: cover;
//         background-position: center;
//     }
// }