@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.footer{
    width: 100%;
    height: 7.3rem;
    background-color: v.$greenTea;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3{
        margin-top: 0;
        color: v.$primary;
        font-size: 1rem;
        
    }
    
    // aplicamos el mixin para los estilos responsives del footer
    // @include m.mobile {
    //     padding: 1rem;
    //     height: auto;
    //     flex-direction: column;

    //     h3{
    //         font-size: 1.3rem;
    //     }
    // }
}
.footerContent {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include m.container;
}
.navFooter {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 1rem;
    
    a{
        font-size: 1.4rem;
        color: v.$primary;

        &:hover {
            color: rgb(4, 77, 22);
        }
    }

    @include m.tablet {
        flex-direction: row;
        gap: 3rem;
    }
}
.logo {
    height: 5.5rem;
}