@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.footer{
    width: 100%;
    height: auto;
    background-color: v.$secondary;
    align-items: center;
    
    h3{
        padding: 1rem;
        font-size: 1.2rem;
        color: v.$primary;
        text-align: center;        
        margin-top: 0;
        margin-bottom: 0;
        background-color: v.$secondary;
        @include m.mobile{
            font-size: 1.8rem;
        }
        @include m.tablet {
            font-size: 2rem;
        }
        @include m.desktopXL{
            font-size: 3rem;
        }
    }
    
    // aplicamos el mixin para los estilos responsives del footer
    // @include m.mobile {
    //     padding: 1rem;
    //     height: auto;
    //     flex-direction: column;

    //     h3{
        //         font-size: 1.3rem;
        //     }
        // }
}

.footerContent {
    @include m.container;
    // display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link{
    font-size: 1rem;
}
.logoMarca{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.brand{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // align-items: center;
    h2{
        margin-top: .2rem;
        margin-bottom: 0;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 900;
    }
    span {
        color: v.$primary;
        margin: 0;
    }
}

.navWsp{
    @include m.container;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.sociales{
    display: flex;
    gap: 1.4rem;
}
.navFooter {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;   
    // .link{
    //     font-size: 1.7rem;
    // } 
    a{
        font-size: 1.7rem;
        color: v.$primary;
        &:hover {
            color: rgb(4, 77, 22);
        }
        
        @include m.tablet{
        font-size: 3rem;
        
    }
}

@include m.tablet {
        flex-direction: row;
        gap: 3rem;
    }
}
.logo {
    margin-top: 1rem;
    height: 5.5rem;
}

.wsp {
    width: 4.5rem;
    height: 4.5rem;
    img {
        width: 4.5rem;
        height: 4.5rem;
    }
    // background-color: red;
    // background-image: url('../assets/webp/wspBcoo.webp');
    
}