@use '../styles/variables' as v;
@use '../styles/mixins' as m;
@use '../styles/main.scss';

// in th header, we add a logo, brand name, and 3 links to other pages
.header{
    background-color: v.$secondary;
    width: 100%;
    position: relative; 
    
    // @include m.tablet {
    //     height: 10rem;
    // }
}

// header content a logoMarca and span
.headerContent {
    @include m.container;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 8rem;
    width: auto;
    
    @include m.tablet{
        height: 10rem;
    }
}
.logoMarca {
    display: flex;
    align-items: center;
    
    span {
        color: v.$primary;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -.4rem;
        // text-align: center;
        // margin-bottom: 2rem;
        
        @include m.tablet{
            font-size: 6rem;
            letter-spacing: -.4rem;
        }
    }
}
// navMain its a container who contain all links to pages
.navMain{
    display: none;
    
    @include m.tablet{
        display: flex;
        gap: 2rem;
        flex-direction: row;
        a {
            color: v.$primary;
            font-weight: 700;
            font-size: 2.1rem;

            &:hover{
                font-size: 2.5rem;
            }
        }
    }
    @include m.desktop { 
        a {
            font-size: 3.1rem;

            &:hover{
                font-size: 3.5rem;
            }
        }
    }
    @include m.desktopXL { 
        gap: 5rem;

        a {
            font-size: 3.5rem;

            &:hover{
                font-size: 3.8rem;
            }
        }
    }
    @include m.desktopXXL { 
        gap: 9rem;
        a {
            font-size: 3.6rem;

            &:hover{
                font-size: 3.9rem;
            }
        }
    }
}


.burger {
    background: none;
    border: none;
    color: v.$primary;
    cursor: pointer;
    font-size: 3.6rem;
    padding: 0.5rem;

    @include m.tablet{
        display: none;
    }
    @include m.desktop{
        display: none;
    }
    @include m.desktopXL{
        display: none;
    }

    
}
.logoBurger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menuMobile{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
    a {
        color: v.$primary;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        align-content: center;
        text-align: center;
        
        &:hover{
            font-weight: 100;
            font-size: 2.3rem;
        }
    }
    @include m.miniTablet{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
    a {
        color: v.$primary;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        align-content: center;
        
        &:hover{
            font-weight: 100;
            font-size: 2.3rem;
        }
    }
    }

    @include m.tablet{
        display: none;
    }
    @include m.desktop{
        display: none;
    }
    @include m.desktopXL{
        display: none;
    }
}

.menuMobile.active {
    @include m.mobile{
        display: flex;
        text-align: center;
        max-height: 300px;
        opacity: 1;
        transform:translateY(100);
        padding: 1rem 0;
    }
    
}

.menuMobile.hidden {
    display: none;

}
