@use '../styles/variables' as v;
@use '../styles/mixins' as m;

p {
    color: v.$blue;
    background-color: v.$primary;
}
.nosotros {
    @include m.container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22rem;

    
    p{
        color: v.$primary;
        font-weight: 600;
        font-size: 1.2rem;

    }
}

.description{
    // height: 2rem;
    width: 18rem;
    text-align: right;
}