@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.main {
    height: 30rem;
    position: relative;
    @include m.container;
    background-image: url('../assets/webp/maq3.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include m.mobile{
        height: 30rem;
        background-position: 20%;
    }
    .overlay{
        background: linear-gradient(
            270deg,
            rgba( v.$secondary, 40%)
        );
        position: absolute;
        height: 30rem;
        // background-color: red;
        inset: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        // align-content: flex-start;

        // @include m.mobile{

        // }
    }
    
}

.mainContent{
    display: flex; 
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    background-color: rgba( v.$cyan, 40%);

    width: 19rem;
    // @include m.mobile{
    //     height: 10rem;
    // }
    h1 {
        font-size: 3rem;
        background-color:rgba( v.$secondary, 40%);
        color: v.$primary;
        margin: 0;
        letter-spacing: .1rem;
        font-family: v.$fontSecondary;
        // @include m.borderText(.1rem);
    }
    h3{
        margin: 0;
        padding: 0;
        border: none;
        font-size: 1.5rem;
        color: v.$light;
        // @include m.borderText(.2rem);

    }
    span {
        // width: 20rem;
        color: v.$light;
        letter-spacing: .3rem;
        font-size: 1rem;
        align-items: center;
    }

}