@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;
.carouselPics{
    // width: 10rem;
    height: auto;
    width: 17rem;
    align-items: left;
    // margin-top: 2rem;
    // margin-left: 2rem;

    @include m.mobile {
        // height: auto;
        width: 22rem;
        height: 30rem;
    }
    @include m.miniTablet{
        width: 27rem;
        height: 33rem;
    }
    @include m.tablet {
        // height: auto;
        width: 27rem;
        height: 36rem;
    }
    @include m.desktop{
        width: 45rem;
        height: 55rem;
    }
    img {
        border-radius: 1.5rem;
        width: 17rem;
        height: 23rem;
        background-size: cover;
            @include m.mobile {
                width: 20rem;
                height: 30rem;
            }
            @include m.miniTablet{
                width: 27rem;
                height: 33rem;
            }
            @include m.tablet {
                width: auto;
                height: 100%;
            }
            @include m.desktop{
                width: 31rem;
                height: 55rem;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }

// .carouselPic {
//     height: auto;
//     width: 10rem;
//     img {
//         // background-image: cover;
//         background-position: center;
//     }
// }