@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.products {
    @include m.container;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: .5rem;
    text-align: center;
    padding: .4rem;
    font-size: 3rem;
    color: v.$primary;

    @include m.mobile{
        font-size: 3.2rem;
    }
    @include m.miniTablet{
        font-size: 3.4rem;
    }
    @include m.tablet{
        font-size: 3.8rem;
    }
    @include m.desktop{
        font-size: 4.2rem;
    }
    @include m.desktopXL{
        font-size: 4.4rem;
    }
    @include m.desktopXXL{
        font-size: 5.5rem;
    }
}

p {
    margin: 0;
    padding: 1rem;
    color: v.$primary;
    font-size: 2rem;
    text-align: center;
    @include m.mobile{
        font-size: 2.2rem;
    }
    @include m.miniTablet{
        font-size: 2.4rem;
    }
    @include m.tablet{
        font-size: 2.8rem;
    }
    @include m.desktop{
        font-size: 3.4rem;
    }
    @include m.desktopXL{
        font-size: 3rem;
        padding: 3rem;
    }
    @include m.desktopXXL{
        font-size: 3.7rem;
    }
}

blockquote {
    color: v.$primary;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
    @include m.mobile{
        font-size: 1.8rem;
    }
    @include m.miniTablet{
        font-size: 2rem;
    }
    @include m.tablet{
        font-size: 2.2rem;
    }
    @include m.desktop{
        font-size: 2.6rem;
    }
    @include m.desktopXL{
        font-size: 2.8rem;
    }
    @include m.desktopXXL{
        font-size: 3rem;
    }
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    padding: 0 1.5rem;
    color: v.$primary;
    @include m.mobile{
        font-size: 2.2rem;
    }
    @include m.miniTablet{
        font-size: 2.4rem;
    }
    @include m.tablet{
        font-size: 2.8rem;
    }
    @include m.desktop{
        font-size: 3rem;
    }
    @include m.desktopXL{
        font-size: 3.4rem;
    }
    @include m.desktopXXL{
        font-size: 4rem;
    }
}
.procesos{
    width: 100%;
    // padding: -1rem;
    display: flex;
    margin-top: 2rem;
    // text-align: center;
    justify-content: center;
    height: auto;
    
        p {
            display: flex;
            align-items: center;

            text-align: center;
            padding: 1rem;
            padding-bottom: 0;
            margin-bottom: 0;
            background-color: rgba(v.$greenTea, 25%);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            width: 50%;
            height: auto;
            font-size: 1.2rem;
            @include m.miniMobile {
                // height: 30rem;
                font-size: 1.49rem;
            }
            @include m.mobile {
                // height: 30rem;
                font-size: 1.8rem;
            }
            @include m.miniTablet{
                font-size: 2.1rem;
            }
            @include m.tablet{
                font-size: 2.7rem;
                padding: 2rem;
                padding-bottom: 0;
            }
            @include m.desktop{
                font-size: 3.8rem;
            }
            @include m.desktopXL{
               font-size: 4rem;
            }
        }
}
    

 .cards{
    @include m.desktop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
 }

 .consumibles{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.brands {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @include m.tablet{
        display: flex;
    }
}

.bombas{
    display: block;
    @include m.tablet{
        display: flex;
    }
}