@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.products {
    @include m.container;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: .5rem;
        text-align: center;
        padding: .4rem;
        font-size: 3rem;
        color: v.$primary;
    }
    
    p {
        margin: 0;
        color: v.$primary;
        font-size: 2rem;
    }
    
    blockquote {
        color: v.$primary;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
}